html{
    box-sizing: border-box;
}

body{
    background: #060A16;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

*,*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.container{
    margin: 0 auto;
    max-width: 1290px;
    padding: 0 10px;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.header{
    position: absolute;
    left: 0;
    right: 0;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.header__list{
    display: flex;
    align-items: center;
}

.header__list-item{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.header__list-item + .header__list-item{
    margin-left: 60px;
}

.header__auth-btn:nth-child(2){
    margin-left: 40px;
    padding: 5px 9px;
    background: #EE8509;
    border-radius: 6px;
}

.header__auth-btn{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.firstScreen{
    background-image: url(../images/fs-bg.jpg);
    background-size: cover;
    background-position: left;
    padding-bottom: 85px;
    height: 100vh;
}

.firstScreen-btndownload{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 25px 33px;
    border-radius: 12px;
    background: url(../images/btn-bg.png);
}

.firstScreen__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
}

.firstScreen__content-title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 140px;
    font-weight: 700;
    line-height: normal;
}

.firstScreen__content-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -30px;
    margin-bottom: 35px;
}

.firstScrenn__socials-link{
    margin-top: 114%;
    display: inline-block;
}

.firstScrenn__socials-img{
    display: block;
}

.firstScrenn__socials-link + .firstScrenn__socials-link{
    margin-left: 20px;

}

.firstScreen::after{
    content: "";
    position: absolute;
    background-image: url(../images/line-fs.png);
    width: 100%;
    height: 97px;
    bottom: 0;
    left: 0;
    right: 0;
}

#login-bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s;
}

#login-popup,
#reg-popup{
    transition: all .3s;
    display: none;
}

#login-bg.--show{
    display: block;
    background-color: rgba(6, 10, 22, .8);
    width: 100%;
    height: 100vh;
}

#login-popup.--show,
#reg-popup.--show{
    display: flex;
}

.login-hide{
    position: absolute;
    top: 0;
    left: 0;
}

.login-screen{
	position: relative;
	width: 500px;
	height: 500px;
	
	justify-content: center;
	align-items: center;
    animation: scaleAnimation 0.5s forwards;
    display: flex;
}

@keyframes scaleAnimation{
    
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.login-screen i{
	position: absolute;
	inset: 0;
	border: 2px solid #fff;
	transition: 0.5s;
}
.login-screen i:nth-child(1){
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate 6s linear infinite;
}
.login-screen i:nth-child(2){
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate 4s linear infinite;
}
.login-screen i:nth-child(3){
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate2 10s linear infinite;
}
.login-screen:hover i{
	border: 6px solid var(--clr);
	filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate2{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}
.login{
	position: absolute;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.login h2{
	font-size: 2em;
	color: #fff;
}
.login .inputBx{
	position: relative;
	width: 100%;
}
.login .inputBx input{
	position: relative;
	width: 100%;
	padding: 12px 20px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 1.2em;
	color: #fff;
	box-shadow: none;
	outline: none;
}
.login .inputBx input[type="submit"]{
	width: 100%;
	background: #0078ff;
	background: linear-gradient(45deg,#2e0cc2,#3e4af1);
	border: none;
	cursor: pointer;
}
.login .inputBx input::placeholder{
	color: rgba(255,255,255,0.75);
}
.login .links{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.login .links a{
	color: #fff;
	text-decoration: none;
}

.login-screen{
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reg__logo-img{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login__logo-img{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}